@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.h4c3r_toolbar {
    margin-bottom: 0px !important;
    position: relative;
}

.h4c3r_toolbar_main {
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 9999;
    background-image: linear-gradient(to right, #d13939, #cd5a16, #be7900, #a49500, #80ad08, #5eaa33, #3ba64d, #00a062, #00825d, #006552, #0e4842, #1a2d2c);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #000;
    border-radius: 28px;
    box-shadow: 1px 1px 6px rgba(black,0.13);
    cursor: pointer;
    justify-content: center;
    border-right: 1px solid #000;
}

svg {
    fill: #000;
}

.h4c3r_toolbar_item {
    padding: 5px 10px;
    width: 50px;
    text-align: center;
}

.h4c3r_fill {
    color: red;
}

.h4c3r_reset {
    color: yellow;
}


.h4c3r_drag {
    color: green;
}

#header {
    cursor: move !important;
}