body {
    min-width: 350px;
    background: #1C1919;
}

.lcontent {
    display: none !important;
}
.lcontent.active {
    display: block !important;
}

.img-3 {
    height: 30px;
}

.landscape {
    display: block !important;
}
.portrait{
    display: none !important;
}

@media only screen and (max-width: 810px) {
    .landscape {
        display: none !important;
    }
    .portrait{
        display: block !important;
    }
}

.activate {
    display: flex !important;
    background: black;
}

.nav-item {
    flex-grow: 1;
}

.nav-item.a{
    gap: 10px;
}

#top,
#bottom,
#left,
#right {
    background: #E13B3B;
    position: fixed;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 5px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 5px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}