:root {
    --hc-og: greenyellow;
    --hc-p: #E13B3B;
    --hc-s: #272222;
    --hc-l: #53354a;
    --hc-d: #2B2E4A;
    --hc-w: #ffffff;
}

.bg-theme {
    background-color: var(--hc-s);
    color: var(--hc-p);
}

.bg-theme:focus {
    background-color: var(--hc-s);
    color: var(--hc-p);
}

.bg-theme:active {
    background-color: var(--hc-s);
    color: var(--hc-p);
}

.bg-theme:hover {
    background-color: var(--hc-s);
    color: var(--hc-p);
}

.btn-theme {
    border: 3px solid var(--hc-p);
    border-radius: 0%;
    background-color: var(--hc-s);
    color: var(--hc-p);
}

.border-theme {
    border: 3px solid var(--hc-p);
    border-radius: 0%;
}

span {
    color: var(--hc-p);
}