body {
    min-width: 350px;
    background: #1C1919;
}

.img-fluid {
    height: 30px;
}

#top,
#bottom,
#left,
#right {
    background: #E13B3B;
    position: fixed;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 5px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 5px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}